.idea/
.vscode/
.directory
.DS_Store
dist/
build/
zipped/
tmp-build/
node_modules/
/vendor/
/stop-user-enumeration/vendor/
/stop-user-enumeration/includes/vendor/
.phpunit.result.cache
*.phpunit.result.cache
.wp-env.override.json
.env
.env.*
!.env.example
*.log
__pycache__/
# repository specific
stop-user-enumeration/includes/vendor/
/stop-user-enumeration/composer.lock
.env.wordpress
