.idea/
.directory
dist/
build/
zipped/
node_modules/
stop-user-enumeration/includes/vendor/
/stop-user-enumeration/composer.lock
/vendor/
.phpunit.result.cache
*.phpunit.result.cache
.wp-env.override.json
.env.wordpress
